## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [1]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
#Загружаем данные из файлов
recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)

In [3]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [4]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
print('Основные параметры таблицы recipes:')
print(f'количество строк: {recipes.shape[0]}')
print(f'количество столбцов: {recipes.shape[1]}')
print(f'типы данных для столбцов:\n {recipes.dtypes}')

Основные параметры таблицы recipes:
количество строк: 30000
количество столбцов: 8
типы данных для столбцов:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [6]:
print('Основные параметры таблицы reviews:')
print(f'количество строк: {reviews.shape[0]}')
print(f'количество столбцов: {reviews.shape[1]}')
print(f'типы данных для столбцов:\n {reviews.dtypes}')

Основные параметры таблицы reviews:
количество строк: 126696
количество столбцов: 5
типы данных для столбцов:
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [7]:
print('Столбцы таблицы recipes, содержащие пропуски:')
recipes.columns[recipes.isna().any()].tolist()

Столбцы таблицы recipes, содержащие пропуски:

['n_steps', 'description', 'n_ingredients']

In [8]:
print('Столбцы таблицы reviews, содержащие пропуски:')
reviews.columns[reviews.isna().any()].tolist()

Столбцы таблицы reviews, содержащие пропуски:

['review']

In [9]:
print('Доля строк, содержащих пропуски в таблице recipes')
number_of_rows_with_NaN = len(recipes.index) - len(recipes.dropna().index)
part_of_rows_with_NaN = number_of_rows_with_NaN / len(recipes.index)
part_of_rows_with_NaN

Доля строк, содержащих пропуски в таблице recipes

0.5684666666666667

In [10]:
print('Доля строк, содержащих пропуски в таблице reviews')
number_of_rows_with_NaN = len(reviews.index) - len(reviews.dropna().index)
part_of_rows_with_NaN = number_of_rows_with_NaN / len(reviews.index)
part_of_rows_with_NaN

Доля строк, содержащих пропуски в таблице reviews

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [11]:
print('Средние значения для таблицы recipes:')
recipes.mean(numeric_only=True)

Средние значения для таблицы recipes:

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

In [12]:
print('Средние значения для таблицы reviews:')
reviews.mean(numeric_only=True)

Средние значения для таблицы reviews:

user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [13]:
ten_random_recipes = recipes['name'].sample(10, ignore_index=True)
ten_random_recipes

0               copycat hamburger helper rice oriental
1                                    peach berry betty
2                 tater tots and ground beef casserole
3                                     asparagus scones
4                        my secret ingredient coleslaw
5    chicken bonnie prince charlie  chicken with dr...
6                  vegan whole grain blueberry muffins
7                             basic chicken soup stock
8    aussie shrimp on the barbie with orange ginger...
9                 mushroom spinach stroganoff   my way
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [14]:
reviews.index = range(len(reviews.index))
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [15]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [16]:
recipes['submitted'] = recipes['submitted'].apply(pd.to_datetime)
type(recipes['submitted'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [17]:
#Код для считывания столбца сразу в нужном формате:
recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
type(recipes['submitted'][0])

pandas._libs.tslibs.timestamps.Timestamp

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [18]:
recipes[recipes['submitted'] >= pd.to_datetime('2010-01-01')]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [19]:
recipes = recipes.astype({'description':'string'})
recipes['description_length'] = recipes['description'].str.len()
exercise_3_1 = recipes.copy()
exercise_3_1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [20]:
recipes['name'] = recipes['name'].str.title()
exercise_3_2 = recipes.copy()
exercise_3_2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [21]:
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))
exercise_3_3 = recipes.copy()
exercise_3_3

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [22]:
contributions_by_id = recipes.groupby('contributor_id')['id'].count()
contributions_by_id

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

In [23]:
print('Участник, добавивший максимальное количество рецептов:')
contributions_by_id.idxmax()

Участник, добавивший максимальное количество рецептов:

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [24]:
print('Средний рейтинг для каждого из рецептов:')
average_ratings = reviews.groupby('recipe_id')['rating'].mean()
average_ratings

Средний рейтинг для каждого из рецептов:

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [25]:
#reviews_per_recipe = reviews.groupby('recipe_id')['review'].count()
#print('Количество рецептов, не имеющих отзывов:')
#len(reviews) - reviews_per_recipe.sum()

In [26]:
print('Количество рецептов, не имеющих отзывов:')
len(recipes) - len(average_ratings)

Количество рецептов, не имеющих отзывов:

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [27]:
recipes['year'] = recipes['submitted'].apply(lambda x: x.year)
print('Количество рецептов по годам создания:')
recipes.groupby('year')['id'].count()

Количество рецептов по годам создания:

year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [28]:
#Создаю версию таблицы, где присутствуют только те рецепты, которые имеют отзывы
recipes_with_reviews = reviews[reviews['review'].notna()]
recipes_with_reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [29]:
id_and_name = recipes[['id', 'name']]
recipe_id_and_rating = recipes_with_reviews[['recipe_id', 'rating']]
merged_table = pd.merge(id_and_name, recipe_id_and_rating, left_on='id', right_on='recipe_id')
print('Объединеная таблица:')
merged_table

Объединеная таблица:

            id                                    name  recipe_id  rating
0        44123   George S At The Cove  Black Bean Soup      44123       5
1        44123   George S At The Cove  Black Bean Soup      44123       5
2        44123   George S At The Cove  Black Bean Soup      44123       5
3        67664      Healthy For Them  Yogurt Popsicles      67664       5
4        67664      Healthy For Them  Yogurt Popsicles      67664       5
...        ...                                     ...        ...     ...
126674  486161                             Zydeco Soup     486161       5
126675  486161                             Zydeco Soup     486161       5
126676  486161                             Zydeco Soup     486161       5
126677  486161                             Zydeco Soup     486161       5
126678  298512  Cookies By Design   Cookies On A Stick     298512       1

[126679 rows x 4 columns]

In [30]:
#Создаю список рецептов, к которым нет отзывов:
recipe_ids = recipes['id']
review_ids = reviews['recipe_id']
recipes_without_reviews = recipe_ids[~recipe_ids.isin(review_ids)]
print('Список рецептов, к которым нет отзывов: ')
recipes_without_reviews

Список рецептов, к которым нет отзывов:

26       223349
29       342620
35       276594
49       216068
59       306590
          ...
29871     66966
29903    249846
29905    256177
29951    178243
29979    363362
Name: id, Length: 1900, dtype: int64

In [31]:
#Пробуем найти в таблице рецепт, который не имеет отзывов:
print('Есть ли в объединенной таблице рецепт с id = 223349?')
any(merged_table['id'] == 223349)

Есть ли в объединенной таблице рецепт с id = 223349?

False

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [32]:
#Создаю таблицу со столбцами recipe_id и review_count для рецептов, которые имеют отзывы
review_counter = reviews[['recipe_id', 'review']].groupby('recipe_id').count()
review_counter.reset_index(inplace=True)
review_counter = review_counter.rename(columns={'review': 'review_count'})
#Создаю таблицу со столбцами recipe_id и name
id_and_name = recipes[['id', 'name']]
id_and_name = id_and_name.rename(columns={'id': 'recipe_id'})
#Создаю таблицу со столбцами recipe_id, name и review_count для рецептов, которые имеют отзывы
id_name_reviewcount = pd.merge(id_and_name, review_counter)
#Создаю таблицу со столбцами recipe_id и review_count для рецептов, которые не имеют отзывов
recipes_with_zero_reviews = pd.DataFrame({'recipe_id': recipes_without_reviews, 'review_count': 0})
#Создаю таблицу со столбцами recipe_id, name и review_count для рецептов, которые не имеют отзывов
id_name_reviewcount_zero = pd.merge(id_and_name, recipes_with_zero_reviews)
#Создаю итоговую таблицу
id_name_reviewcount_final = pd.concat([id_name_reviewcount, id_name_reviewcount_zero])
id_name_reviewcount_final

      recipe_id                                      name  review_count
0         44123     George S At The Cove  Black Bean Soup             3
1         67664        Healthy For Them  Yogurt Popsicles             8
2         38798              I Can T Believe It S Spinach             3
3         35173                      Italian  Gut Busters             1
4         84797  Love Is In The Air  Beef Fondue   Sauces             8
...         ...                                       ...           ...
1895      66966                        Zingy Potato Salad             0
1896     249846        Zucchini  Mock Green Papaya  Salad             0
1897     256177             Zucchini And Corn With Cheese             0
1898     178243                        Zucchini Nut Salad             0
1899     363362      Zucchini With Bell Pepper And Tomato             0

[30000 rows x 3 columns]

In [33]:
#Проверка правильности работы кода
id_name_reviewcount_final[id_name_reviewcount_final['recipe_id'] == 363362]

      recipe_id                                  name  review_count
1899     363362  Zucchini With Bell Pepper And Tomato             0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [34]:
#Создаю таблицу со столбцами id и year
id_and_year = recipes[['id', 'year']].rename(columns={'id': 'recipe_id'})
#Создаю таблицу со столбцами id и rating
id_and_rating = reviews[['recipe_id', 'rating']]
#Создаю таблицу со столбцами id, year и rating
id_year_rating = pd.merge(id_and_year, id_and_rating)
print('Год, в котором были опубликованы рецепты с наименьшим средним рейтингом: ')
id_year_rating.groupby('year')['rating'].mean().idxmin()

Год, в котором были опубликованы рецепты с наименьшим средним рейтингом:

2017

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [35]:
#Сортируем таблицу recipes в порядке убывания величины name_word_count
recipes.sort_values(['name_word_count'], ascending=False)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,year
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15,2003
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14,2004
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14,2003
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14,2005
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13,2008
...,...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389,1,2008
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124,1,2006
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78,1,2001
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92,1,2007
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341,1,2005

In [36]:
#Сохраняем результаты выполнения заданий 3.1 - 3.3
exercise_3_1.to_csv('data/exercise_3_1.csv')
exercise_3_2.to_csv('data/exercise_3_2.csv')
exercise_3_3.to_csv('data/exercise_3_3.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [38]:
#Создаем искомую таблицу для Excel
with pd.ExcelWriter("data/exercise_5.xlsx") as writer:
    merged_table.to_excel(writer, sheet_name="Рецепты с оценками")  
    id_name_reviewcount_final.to_excel(writer, sheet_name="Количество отзывов по рецептам")